{% extends 'layout.html' %}


{% block title %}X{% endblock %}


{% block content %}
  <h1 class="text-center text-white mt-4">THIS IS OUR MAIN X PAGE WHERE WE WILL WORK :0</h1>

  <h2>{% if form.instance.pk %} 
    Edit Tweet 
    {% else %} 
    Create tweet 
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-danger" type="submit">Submit</button>
    </form>
    

    <a href="{% url 'tweet_list' %}">Backt To Tweet List</a>
  </h2>

  
{% endblock content %}
  